<div class="jumbotron">
	<h1> Your music. Classified.</h1>
	<%= link_to "All Artists", artists_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Top 5 Songs", top_path, class: "btn btn-primary btn-lg" %>

</div>